#header {
	color:yellow;
}

.table-header {
	color:red;
}
.scores {	
	display:none;
}

.divider{
    width:100px;
    height:auto;
    display:inline-block;
}
td {
	color:white;
	padding: 23px;
	font-size:20px;

}

table,th,td {
	border:3px solid red;
}