.game-text {
	color:white;
}

#word-description {
	background-color:green;
	color:white;
	font-size: 14px; 
	opacity: 0.8; 
}

#score {
	
	color:white;
	font-size: 24px; 
	
}
#ready {
	
	font-size:30px;
    transition-duration: 0.4s;

	
}
#ready:hover {
	background-color: #4CAF50; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

#power {
	background-color:green;
	color:white;
	font-size: 24px; 
	opacity: 0.8; 
}

.word-area {
	background-color:gray;
	font-size: 26px;
	text-align:center;
	opacity: 0.8; 
	transition: background-color 0.8s ease-out 0s;
}
.word-area table {
	border-spacing: 100px;
	border-collapse: separate;
	font-size: 26px;
	width: 260px;
}
.word-area th {
	padding: 15px;
}

.word-area.correctguess {
	background-color:GoldenRod;	
}

.word-area.powerdecreased {
	background-color:Red;	
}

.col {
  padding-right:7px;
  padding-left:7px;
}

.cell-selected {
	background-color: yellow;
}

.wrong-letter {
	background-color: red;
}

.modal, .modal.fade.in {
    top: 30%;
}
